core-csharp-practice/
OOPS-csharp-practice/scenario-based/BankManagement/.vs/
OOPS-csharp-practice/scenario-based/BankManagement/bin/
OOPS-csharp-practice/scenario-based/BankManagement/obj/
.vs/
BridgeLabz-Training.sln