core-csharp-practice/
.vs/
BridgeLabz-Training.sln

# --------------BankManagement-----------------
OOPS-csharp-practice/scenario-based/BankManagement/.vs/
OOPS-csharp-practice/scenario-based/BankManagement/bin/
OOPS-csharp-practice/scenario-based/BankManagement/obj/




