core-csharp-practice/
.vs/
BridgeLabz-Training.sln

# --------------BankManagement-----------------
OOPS-csharp-practice/scenario-based/BankManagement/.vs/
OOPS-csharp-practice/scenario-based/BankManagement/bin/
OOPS-csharp-practice/scenario-based/BankManagement/obj/

# ------------------CafeteriaApp---------------
OOPS-csharp-practice/scenario-based/CafeteriaApp/.vs/
OOPS-csharp-practice/scenario-based/CafeteriaApp
OOPS-csharp-practice/scenario-based/CafeteriaApp/obj/


